@media only screen and (min-width: 992px) {
    section.card{
        flex-direction: row-reverse;
        width: 900px;
        height: 55vh;
        text-align: left;
    }
    section.card > div.card-img{
        height: 100%;
        width: 100%;
        position: relative;
        background: url('../images/image-header-desktop.jpg') no-repeat;
        background-size: cover;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        opacity: 0.8;
        border-radius: 0px 10px 10px 0px;
    }
    section.card div.card-content{
        height: 100%;
        width: 100%;
        position: relative;
    }
    section.status{
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        width: 70%;
    }
    section.card div.card-content > h1{
        width: 70%;
    }
}
@media only screen and (max-width: 320px) {
    section.card{
        max-width: 300px;
    }
    section.card div.card-content{
        height: calc(100% - 257px);
        width: 100%;
        gap: 0px;
    }
    div.card-content > p{
        font-size: 10px;
    }
}