@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: hsl(233, 47%, 7%);
}
section.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
    width: 350px;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
section.card > div.card-img{
    height: 257px;
    width: 100%;
    background: url('../images/image-header-mobile.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    border-radius: 10px 10px 0px 0px;
}
section.card div.card-content{
    height: calc(100% - 257px);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
section.card div.card-content > p {
    color: hsla(0, 0%, 100%, 0.75);
    width: 70%;
}
section.status{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.status > div > h1{
    color: hsl(0, 0%, 100%);
    font-variant: small-caps;
}
section.status > div > span{
    color: hsla(0, 0%, 100%, 0.6);
    font-variant: small-caps;
}
section.card div.img-back{
    background-color:hsl(277, 64%, 61%);
    height: inherit;
    width: inherit;
    opacity: 0.4;
    border-radius: inherit;
}
section.card div.card-content > h1{
    color: hsl(0, 0%, 100%);
}
h1 > strong{
    color: hsl(277, 64%, 61%);
}
.attribution { font-size: 11px; text-align: center; 
    position: absolute;
    width: 100%;
    bottom: 0;    
}
.attribution a { color: hsl(228, 45%, 44%); }